---
const { text, link, target , annotate=true } = Astro.props

import svgHl from '../assets/hl.svg'

const base = import.meta.env.BASE_URL
const href = link.startsWith('http') || link.startsWith('mailto:') ? link : `${base}${link.replace(/^\//, '')}`
---

<div class="relative group">
   <a href={href} target={target} class="bg-[var(--blue)] text-black text-md font-medium flex items-center h-12 px-6 border-3 rounded-full ">{text}</a>
   {annotate ? <img src={svgHl.src} alt="" width="30" height="30" class="absolute -right-7 -bottom-3 transition-all duration-200 group-hover:-bottom-4" />:"" }</div>