---
import svgPinkStar from '../assets/pink-star.svg'
import Button from './Button.astro'
import { reachOut } from '../sample'

---


<section class="px-3" id="hire">
    <div class="max-w-3xl mx-auto bg-white text-center flex flex-col gap-4 border-3 shadow-[8px_8px_0px_rgba(0,0,0,0.3)]  relative p-10">
     <h1 class="text-3xl">Get in Touch
      </h1>
     <p class="text-lg max-w-lg mx-auto"> Available for full-time roles in Analytics & Marketing</p>
     <div class="flex flex-wrap justify-center gap-6">
       <Button text={reachOut.linkedin_title} link={reachOut.linkedin} target="_blank" annotate={false} />
       <Button text={reachOut.email_title} link={reachOut.email} target="_blank" annotate={false} />
     </div>
     <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -top-10 right-20" />
    </div>
  </section>