---
import { Image } from 'astro:assets';
import Bars from "./Bars.astro"
import svgUnderline from '../assets/underline.svg'
import arrowCard from '../assets/arrow-card.svg'

import imgInstacartShap from '../assets/projects/instacart/instacart_shap.png';
import imgSltArch from '../assets/projects/slt/slt_system_architecture.png';
import imgZaikaUsage from '../assets/projects/zaika/zaika_usage_thumbnail.jpg';

const base = import.meta.env.BASE_URL

interface Props {
  currentCorner?: 'analytics' | 'tech' | 'creative';
}
const { currentCorner } = Astro.props;

const allCorners = [
  { 
    name: 'Analytics Corner', desc: `Explore projects in predictive modeling, marketing science, and business insights.`,
    cover: imgInstacartShap,
    href: `${base}analytics-corner`
  },
  { 
    name: 'Tech Corner', desc: `Explore projects in big data pipelines, system architecture, and full-stack builds.`,
    cover: imgSltArch,
    href: `${base}tech-corner`
  },
  { 
    name: 'Creative Corner', desc: `Explore projects in visual storytelling, video production, and high-impact design.`,
    cover: imgZaikaUsage,
    href: `${base}creative-corner`
  }
];

const corners = currentCorner
  ? allCorners.filter(item => item.href !== `${base}${currentCorner}-corner`)
  : allCorners;
---


<section class="py-25 space-y-10 px-5">
    <div class="max-w-md mx-auto relative">
      <h1 class="text-4xl font-medium text-center">Want to see more?</h1>
      <img src={svgUnderline.src} alt="arrow" width="140" class="absolute left-35 -bottom-2" />
    </div>
  
    <div class="max-w-3xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10"> 
      {corners.length > 0 && corners.map(item => ( 
        <a href={item.href} class="flex flex-col bg-white p-5 group relative transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]">
          <div class="w-full h-[200px] overflow-hidden border-2">
           <Image src={item.cover} alt="" class="w-full h-full object-cover object-[center_55%]" />
          </div>
          <div class="space-y-1 pt-4">
            <div class="flex pr-2">
              <h2 class="text-xl font-medium flex-1">{item.name}</h2>
              <img src={arrowCard.src} alt="arrow" width="25" />
            </div>
            <p class="mr-20">{item.desc}</p>
          </div>
          <Bars />
        </a>
      ))}
    </div>
</section>
